# Dependencies
node_modules/
.serverless/
.serverless_nextjs/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build files
.next/
out/
build/
dist/
*.log

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
.vercel
